<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/app.css">
    <title></title>
  </head>
  <body>
    <h1>Edit Driver Page</h1>
    <form action="/drivers/<%= driver._id %>?_method=put" method="POST">
      <label for="driverName">Driver Name</label>
      <input type="text" name="driverName" id="driverName" value="<%= driver.driverName %>"/>
    
      <label for="driverAge">Driver Age</label>
      <input type="text" name="driverAge" id="driverAge" value="<%= driver.driverAge %>"/>
      
      <label for="driverImage">Driver Image</label>
      <input type="text" name="driverImage" id="driverImage" value="<%= driver.driverImage %>"/>
      
      <input type="submit" value="Edit driver">
    </form>
  </body>
</html>
