<h1>Driver Collection</h1>
<form action="/drivers" method="POST">
    <h6>Driver Details:</h6>
    <label for="driverName">DriverName</label>
    <input type="text" name="driverName" id="driverName" /></br>
    <label for="driverAge">Driver Age</label>
    <input type="text" name="driverAge" id="driverAge" /></br>
    <label for="driverImage">Driver Image</label>
    <input type="text" name="driverImage" id="driverImage" /></br>
    </br>
    <input type="submit" value="Create Driver Collection">
</form>