<h1>Company Collection</h1>
<form action="/companys" method="POST">

    <h6>Company Details:</h6>
        <label for="name">Name</label>
        <input type="text" name="name" id="name"/></br>
        <label for="logo">logo</label>
        <input type="text" name="logo" id="logo" /></br>
        <label for="address">address</label>
        <input type="text" name="address" id="address" /></br>
        <label for="city">city</label>
        <input type="text" name="city" id="city" /></br>
        <label for="telephone">telephone</label>
        <input type="text" name="telephone" id="telephone" /></br>

    <!-- <h6>Driver Details:</h6>
        <label for="driverName">DriverName</label>
        <input type="text" name="driverName" id="driverName" /></br>
        <label for="driverAge">Driver Age</label>
        <input type="text" name="driverAge" id="driverAge" /></br>
        <label for="driverImage">Driver Image</label>
        <input type="text" name="driverImage" id="driverImage" /></br>
    
    <h6>Car Details:</h6>
        <label for="carName">Car Name</label>
        <input type="text" name="carName" id="carName" /></br>
        <label for="carModel">Car Model</label>
        <input type="text" name="carModel" id="carModel" /></br>
        <label for="carYear">Car Year</label>
        <input type="text" name="carYear" id="carYear" /></br>
        <label for="carImage">Car Image</label>
        <input type="text" name="carImage" id="carImage" /></br> -->
    </br>
    <input type="submit" value="Create Company Collection">
</form>