<h1>Driver Collection</h1>
<form action="/cars" method="POST">
    <h6>Car Details:</h6>
        <label for="carName">Car Name</label>
        <input type="text" name="carName" id="carName" /></br>
        <label for="carModel">Car Model</label>
        <input type="text" name="carModel" id="carModel" /></br>
        <label for="carYear">Car Year</label>
        <input type="text" name="carYear" id="carYear" /></br>
        <label for="carImage">Car Image</label>
        <input type="text" name="carImage" id="carImage" /></br> 
    </br>
    <input type="submit" value="Create Car Collection">
</form>